Tipos de datos en Pandas

Series: Es la columna 

Dataframes: Son las tablas

In [3]:
import pandas as pd

In [4]:
datos = {"Nombre": ["Pedro","Juan","Lorena"],"Edad":[25,39,2]}
datos

{'Nombre': ['Pedro', 'Juan', 'Lorena'], 'Edad': [25, 39, 2]}

In [6]:
df = pd.DataFrame(datos)
df

   Nombre  Edad
0   Pedro    25
1    Juan    39
2  Lorena     2

In [7]:
type(df) # Tipo de datos

pandas.core.frame.DataFrame

In [9]:
#Capturar la serie nombre
df["Nombre"]

0     Pedro
1      Juan
2    Lorena
Name: Nombre, dtype: object

In [10]:
#Capturar por valor de columna
df.Nombre

0     Pedro
1      Juan
2    Lorena
Name: Nombre, dtype: object

In [11]:
type(df.Nombre)

pandas.core.series.Series

In [13]:
df.shape

(3, 2)

In [14]:
df.columns

Index(['Nombre', 'Edad'], dtype='object')

In [15]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [17]:
new_df = pd.read_csv("C:/Users/hherre13/OneDrive - JNJ/Documents/Hector/Python Total para data science/DÃ­a 6/Precipitaciones.csv")

In [18]:
new_df

,region,enero,febrero,marzo,abril,mayo,junio,julio,agosto,septiembre,octubre,noviembre,diciembre,anual
0,A CORUNA,240.5,293.4,31.0,80.6,149.5,108.9,44.6,21.8,96.5,154.5,100.8,214.8,1536.9
1,ALBACETE,68.1,28.0,26.2,65.3,25.4,50.0,2.0,34.5,48.0,44.8,33.1,14.1,439.5
2,ALICANTE,49.2,3.7,63.2,85.8,57.2,20.0,9.2,5.0,44.0,41.1,47.4,1.8,427.6
3,ALMERIA,56.3,5.2,35.8,43.1,38.8,16.9,10.2,1.9,17.4,27.3,32.6,3.2,288.7
4,ARABA,96.8,79.9,38.0,52.0,37.7,107.8,8.5,17.7,63.3,38.5,212.2,197.3,949.7
5,ASTURIAS,196.9,138.4,34.4,73.1,67.4,131.2,22.5,19.2,90.3,74.2,309.8,205.3,1362.7
6,AVILA,67.6,104.5,5.6,83.4,25.7,44.4,5.5,14.2,97.9,91.7,33.9,47.5,621.9
7,BADAJOZ,62.2,78.5,7.7,61.3,13.0,29.6,0.0,2.7,80.5,77.6,10.2,59.3,482.6
8,ILLES BALEARS,81.2,5.3,53.9,22.0,54.4,28.5,8.8,10.0,73.2,55.6,229.9,18.1,640.9
9,BARCELONA,26.8,28.4,16.4,72.2,26.0,42.3,18.7,25.7,76.0,40.6,72.8,2.2,448.1
10,BIZKAIA,175.7,111.5,52.3,57.5,49.1,124.8,37.9,26.4,98.0,53.9,371.4,282.1,1440.6
11,BURGOS,75.8,90.1,17.2,54.2,46.0,75.5,5.8,17.6,48.4,48.7,112.3,88.1,679.7
12,CACERES,70.5,117.3,4.3,95.1,19.5,36.2,0.2,4.9,98.5,130.9,7.1,75.8,660.3
13,CADIZ,148.5,75.4,65.0,35.5,7.5,12.3,0.0,0.1,30.8,24.8,44.5,135.1,579.5
14,CANTABRIA,180.7,112.8,56.0,60.3,60.2,122.9,43.2,30.3,105.1,47.1,384.6,246.6,1449.8
15,CASTELLON,56.6,21.6,30.6,97.3,31.7,46.1,33.9,57.0,106.6,15.3,47.3,4.1,548.1
16,CEUTA,261.9,93.9,209.8,35.4,12.9,2.7,0.0,1.5,7.6,3.7,129.2,61.8,820.4
17,CIUDAD REAL,84.0,39.6,10.3,63.0,11.8,24.0,0.7,16.1,39.8,88.9,23.1,34.2,435.5
18,CORDOBA,88.6,57.5,9.6,64.5,11.6,20.7,0.3,4.7,46.0,48.1,21.0,85.4,458.0
19,CUENCA,93.6,58.4,14.8,84.8,27.0,59.5,9.0,33.4,58.1,99.3,39.5,32.2,609.6
20,GIPUZKOA,173.0,113.6,62.0,62.9,69.0,145.0,46.8,27.0,122.8,69.4,342.0,314.7,1548.2
21,GIRONA,34.9,45.4,16.0,73.2,54.2,39.9,29.4,44.0,89.9,29.6,108.5,12.1,577.1
22,GRANADA,72.2,32.9,17.2,51.0,38.1,15.5,1.3,6.8,11.5,18.6,31.7,25.5,322.3
23,GUADALAJARA,88.4,74.3,15.5,92.7,40.6,66.5,12.3,33.5,76.0,75.4,44.6,35.1,654.9
24,HUELVA,50.7,101.9,35.4,51.5,15.1,14.5,0.0,0.0,78.2,32.0,18.1,105.3,502.7
25,HUESCA,84.3,52.7,5.6,72.7,42.5,71.3,23.6,17.7,78.3,65.0,64.7,59.1,637.5
26,JAEN,100.6,66.8,10.0,53.2,18.5,31.2,0.1,15.8,19.0,45.7,51.0,51.8,463.7
27,LA RIOJA,72.8,54.2,17.6,46.5,47.1,94.8,4.1,16.9,42.0,37.2,115.8,49.7,598.7
28,LAS PALMAS,44.1,32.6,6.1,3.5,0.7,1.1,0.7,1.5,0.9,1.6,10.9,4.5,108.2
29,LEON,92.0,128.2,19.4,56.6,48.9,77.6,6.0,9.2,71.8,60.1,59.8,112.1,741.7
30,LLEIDA,59.3,42.0,12.6,81.7,37.5,66.9,38.6,19.0,55.7,45.0,58.6,32.9,549.8
31,LUGO,179.5,221.7,26.6,79.5,78.4,101.7,13.5,17.6,59.5,111.0,114.1,179.8,1182.9
32,MADRID,69.3,61.7,6.1,77.0,25.7,40.0,5.6,30.0,63.0,84.1,25.2,36.0,523.7
33,MALAGA,139.5,43.7,35.5,56.9,16.5,6.4,0.0,1.2,29.9,13.1,26.5,70.9,440.1
34,MELILLA,44.9,20.0,45.1,57.1,9.0,3.1,0.0,1.2,49.6,1.0,34.1,5.2,270.3
35,MURCIA,44.5,2.3,52.6,61.6,48.7,32.6,9.3,3.3,32.4,20.1,37.4,4.2,349.0
36,NAVARRA,98.8,85.9,23.8,43.7,44.2,87.9,17.6,28.3,64.3,45.0,161.1,186.9,887.5
37,OURENSE,138.9,234.4,10.9,98.8,65.0,86.1,5.5,23.0,65.9,97.5,32.6,144.5,1003.1
38,PALENCIA,52.3,81.3,7.5,55.8,29.7,79.3,3.4,6.8,61.6,47.5,56.0,51.5,532.7
39,PONTEVEDRA,255.4,335.7,22.3,128.4,144.5,80.7,24.6,34.0,92.4,175.7,45.3,236.4,1575.4
40,SALAMANCA,52.9,123.6,4.1,62.4,24.4,50.8,5.6,6.7,85.0,78.6,27.1,48.4,569.6
41,SANTA CRUZ DE TENERIFE,90.6,56.0,20.8,19.4,2.8,3.5,1.7,3.4,3.9,8.2,50.2,25.9,286.4
42,SEGOVIA,63.3,80.5,3.3,88.5,39.8,55.6,6.3,14.4,47.1,62.5,42.9,44.8,549.0
43,SEVILLA,91.1,54.4,24.5,60.7,9.2,8.1,0.1,0.2,46.0,29.9,20.6,114.7,459.5
44,SORIA,75.1,63.5,12.1,67.7,70.7,85.4,10.5,19.4,56.5,47.0,62.9,37.7,608.5
45,TARRAGONA,52.7,28.4,9.7,59.6,19.0,63.8,22.4,43.5,88.7,25.4,115.0,5.1,533.3
46,TERUEL,54.1,28.8,11.9,74.6,48.5,72.6,26.8,48.1,55.0,30.9,60.0,13.2,524.5
47,TOLEDO,83.0,51.1,7.5,62.5,15.0,27.1,3.3,18.6,70.5,94.7,16.4,29.9,479.6
48,VALENCIA,61.9,16.8,49.3,86.4,33.8,34.2,17.1,30.9,99.3,46.1,46.6,5.5,527.9
49,VALLADOLID,29.2,69.1,4.1,65.1,24.3,58.3,1.9,3.8,54.1,40.2,41.7,35.9,427.7
50,ZAMORA,53.0,112.0,6.8,63.7,19.8,54.2,3.1,9.6,78.5,55.3,29.0,50.3,535.3
51,ZARAGOZA,52.0,30.0,3.6,52.7,38.3,57.5,13.5,13.2,61.5,27.4,76.6,23.4,449.7

In [19]:
new_df.head() #primeras 5 lineas

,region,enero,febrero,marzo,abril,mayo,junio,julio,agosto,septiembre,octubre,noviembre,diciembre,anual
0,A CORUNA,240.5,293.4,31.0,80.6,149.5,108.9,44.6,21.8,96.5,154.5,100.8,214.8,1536.9
1,ALBACETE,68.1,28.0,26.2,65.3,25.4,50.0,2.0,34.5,48.0,44.8,33.1,14.1,439.5
2,ALICANTE,49.2,3.7,63.2,85.8,57.2,20.0,9.2,5.0,44.0,41.1,47.4,1.8,427.6
3,ALMERIA,56.3,5.2,35.8,43.1,38.8,16.9,10.2,1.9,17.4,27.3,32.6,3.2,288.7
4,ARABA,96.8,79.9,38.0,52.0,37.7,107.8,8.5,17.7,63.3,38.5,212.2,197.3,949.7

In [22]:
new_df.tail() #ultimas 5 lineas

,region,enero,febrero,marzo,abril,mayo,junio,julio,agosto,septiembre,octubre,noviembre,diciembre,anual
47,TOLEDO,83.0,51.1,7.5,62.5,15.0,27.1,3.3,18.6,70.5,94.7,16.4,29.9,479.6
48,VALENCIA,61.9,16.8,49.3,86.4,33.8,34.2,17.1,30.9,99.3,46.1,46.6,5.5,527.9
49,VALLADOLID,29.2,69.1,4.1,65.1,24.3,58.3,1.9,3.8,54.1,40.2,41.7,35.9,427.7
50,ZAMORA,53.0,112.0,6.8,63.7,19.8,54.2,3.1,9.6,78.5,55.3,29.0,50.3,535.3
51,ZARAGOZA,52.0,30.0,3.6,52.7,38.3,57.5,13.5,13.2,61.5,27.4,76.6,23.4,449.7

In [23]:
new_df.shape #es un atributo. Nos devuelve informacion

(52, 14)

In [25]:
new_df.columns

Index(['region', 'enero', 'febrero', 'marzo', 'abril', 'mayo', 'junio',
       'julio', 'agosto', 'septiembre', 'octubre', 'noviembre', 'diciembre',
       'anual'],
      dtype='object')

In [26]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   region      52 non-null     object
 1   enero       52 non-null     float64
 2   febrero     52 non-null     float64
 3   marzo       52 non-null     float64
 4   abril       52 non-null     float64
 5   mayo        52 non-null     float64
 6   junio       52 non-null     float64
 7   julio       52 non-null     float64
 8   agosto      52 non-null     float64
 9   septiembre  52 non-null     float64
 10  octubre     52 non-null     float64
 11  noviembre   52 non-null     float64
 12  diciembre   52 non-null     float64
 13  anual       52 non-null     float64
dtypes: float64(13), object(1)
memory usage: 5.8+ KB

In [28]:
new_df.describe()

,enero,febrero,marzo,abril,mayo,junio,julio,agosto,septiembre,octubre,noviembre,diciembre,anual
count,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000
mean,92.996154,78.632692,26.684615,64.500000,38.305769,54.182692,11.840385,17.178846,62.246154,54.373077,82.494231,76.192308,659.626923
std,57.127171,67.454280,31.473913,21.421942,29.079576,36.821635,13.256390,13.939496,28.581205,36.619785,91.689789,80.409042,352.905548
min,26.800000,2.300000,3.300000,3.500000,0.700000,1.100000,0.000000,0.000000,0.900000,1.000000,7.100000,1.800000,108.200000
25%,53.825000,32.825000,9.125000,53.950000,18.875000,26.325000,1.600000,4.850000,46.000000,29.825000,32.375000,22.075000,455.925000
50%,73.950000,62.600000,17.200000,62.700000,35.650000,50.400000,6.150000,16.500000,62.300000,46.550000,46.950000,47.950000,548.550000
75%,97.300000,102.550000,35.425000,77.625000,48.750000,78.025000,17.875000,26.550000,81.625000,74.500000,102.725000,107.000000,665.150000
max,261.900000,335.700000,209.800000,128.400000,149.500000,145.000000,46.800000,57.000000,122.800000,175.700000,384.600000,314.700000,1575.400000

In [30]:
new_df.head(1)

,region,enero,febrero,marzo,abril,mayo,junio,julio,agosto,septiembre,octubre,noviembre,diciembre,anual
0,A CORUNA,240.5,293.4,31.0,80.6,149.5,108.9,44.6,21.8,96.5,154.5,100.8,214.8,1536.9

Series: Arreglo unidimensional

In [31]:
serie = new_df["region"]
serie

0                   A CORUNA
1                   ALBACETE
2                   ALICANTE
3                    ALMERIA
4                      ARABA
5                   ASTURIAS
6                      AVILA
7                    BADAJOZ
8              ILLES BALEARS
9                  BARCELONA
10                   BIZKAIA
11                    BURGOS
12                   CACERES
13                     CADIZ
14                 CANTABRIA
15                 CASTELLON
16                     CEUTA
17               CIUDAD REAL
18                   CORDOBA
19                    CUENCA
20                  GIPUZKOA
21                    GIRONA
22                   GRANADA
23               GUADALAJARA
24                    HUELVA
25                    HUESCA
26                      JAEN
27                  LA RIOJA
28                LAS PALMAS
29                      LEON
30                    LLEIDA
31                      LUGO
32                    MADRID
33                    MALAGA
34                   MELILLA
35                    MURCIA
36                   NAVARRA
37                   OURENSE
38                  PALENCIA
39                PONTEVEDRA
40                 SALAMANCA
41    SANTA CRUZ DE TENERIFE
42                   SEGOVIA
43                   SEVILLA
44                     SORIA
45                 TARRAGONA
46                    TERUEL
47                    TOLEDO
48                  VALENCIA
49                VALLADOLID
50                    ZAMORA
51                  ZARAGOZA
Name: region, dtype: object

In [32]:
serie.head()

0    A CORUNA
1    ALBACETE
2    ALICANTE
3     ALMERIA
4       ARABA
Name: region, dtype: object

In [33]:
datos = [10,20,30,40,50]
series2= pd.Series(datos)
series2

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [34]:
indices = ["a","b","c","d","e"]
series2 = pd.Series(datos,indices)
series2

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [35]:
series2["b"]

20

In [36]:
type(series2)

pandas.core.series.Series

In [37]:
type(series2["b"])

numpy.int64

In [38]:
capitales = {"Espana":"Madrid","Peru":"Lima","Argentina":"Buenos Aires"}
series3 = pd.Series(capitales)
series3

Espana             Madrid
Peru                 Lima
Argentina    Buenos Aires
dtype: object

In [39]:
series.3["Espana"]

SyntaxError: invalid syntax (228939871.py, line 1)

In [42]:
numeros = [10, 20, 30, 40]
indices = ['a', 'b', 'c', 'd']

serie_con_indices = pd.Series(numeros,indices)

valor_c = serie_con_indices["c"]


def imprimir_valor_c(valor_c):
    print(valor_c)

imprimir_valor_c(valor_c)

30

In [ ]:
import pandas as pd
 
# Crear la serie con Ã­ndices personalizados
serie_con_indices = pd.Series([10, 20, 30, 40], index=['a', 'b', 'c', 'd'])
 
# Acceder y mostrar el valor asociado al Ã­ndice 'c'
valor_c = serie_con_indices['c']
 
# FunciÃ³n para imprimir el valor asociado al Ã­ndice 'c'
def imprimir_valor_c():
    print(valor_c)

In [1]:
import pandas as pd

In [4]:
serie = pd.Series([10,20,30,40,50])

In [5]:
serie[0] = serie[0]+10
serie

0    20
1    20
2    30
3    40
4    50
dtype: int64

In [6]:
serie = serie + 10
serie

0    30
1    30
2    40
3    50
4    60
dtype: int64

In [9]:
import pandas as pd

serie1 = pd.Series([10,20,30,40,50])
serie2 = pd.Series([60,70,80,90,100])

serie_sumada = serie1+serie2

print(serie_sumada)

0     70
1     90
2    110
3    130
4    150
dtype: int64

In [11]:
import pandas as pd 

serie_grande = [1,2,3,4,5,6,7,8,9,10]

print(serie_grande[9] **(1/2))

3.1622776601683795

In [12]:
serie_grande[9]

10

Limpieza de datos

In [15]:
import pandas as pd

data = {"Id_producto":[1001,1002,1003,1003],
       "Cantidad_vendida":[30,None,25,25],
       "Precio":[20.5,15.0,None,22.5]}


df = pd.DataFrame(data)
df

   Id_producto  Cantidad_vendida  Precio
0         1001              30.0    20.5
1         1002               NaN    15.0
2         1003              25.0     NaN
3         1003              25.0    22.5

In [16]:
df.head()

   Id_producto  Cantidad_vendida  Precio
0         1001              30.0    20.5
1         1002               NaN    15.0
2         1003              25.0     NaN
3         1003              25.0    22.5

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Id_producto       4 non-null      int64
 1   Cantidad_vendida  3 non-null      float64
 2   Precio            3 non-null      float64
dtypes: float64(2), int64(1)
memory usage: 228.0 bytes

In [18]:
#Valores faltantes
df.isnull()

   Id_producto  Cantidad_vendida  Precio
0        False             False   False
1        False              True   False
2        False             False    True
3        False             False   False

In [19]:
df.isnull().sum()

Id_producto         0
Cantidad_vendida    1
Precio              1
dtype: int64

In [20]:
valores_nuevos = {"Cantidad_vendida":0,"Precio":df["Precio"].mean()}

df_rellenados = df.fillna(valores_nuevos)
df_rellenados

   Id_producto  Cantidad_vendida     Precio
0         1001              30.0  20.500000
1         1002               0.0  15.000000
2         1003              25.0  19.333333
3         1003              25.0  22.500000

In [23]:
#Correcion del tipo de datos
df_rellenados["Cantidad_vendida"] = df_rellenados["Cantidad_vendida"].astype(int)
df_rellenados

   Id_producto  Cantidad_vendida     Precio
0         1001                30  20.500000
1         1002                 0  15.000000
2         1003                25  19.333333
3         1003                25  22.500000

In [25]:
df_unicos = df_rellenados.drop_duplicates()
df_unicos

   Id_producto  Cantidad_vendida     Precio
0         1001                30  20.500000
1         1002                 0  15.000000
2         1003                25  19.333333
3         1003                25  22.500000

In [26]:
df_unicos = df_rellenados.drop_duplicates(subset="Id_producto")
df_unicos

   Id_producto  Cantidad_vendida     Precio
0         1001                30  20.500000
1         1002                 0  15.000000
2         1003                25  19.333333

Filtrado de series en Python

In [28]:
serie = pd.Series([5,10,15,20,25])
serie

0     5
1    10
2    15
3    20
4    25
dtype: int64

In [30]:
filtro = serie > 15
serie_filtrada = serie[filtro]

serie_filtrada

3    20
4    25
dtype: int64

In [31]:
filtro

0    False
1    False
2    False
3     True
4     True
dtype: bool

In [32]:
serie2 = pd.Series(["banana","pera","melon","manzana"])
serie2

0     banana
1       pera
2      melon
3    manzana
dtype: object

In [33]:
type(serie2)

pandas.core.series.Series

In [34]:
type(serie2[0])

str

In [35]:
print(dir(serie2))

['T', '_AXIS_LEN', '_AXIS_ORDERS', '_AXIS_TO_AXIS_NUMBER', '_HANDLED_TYPES', '__abs__', '__add__', '__and__', '__annotations__', '__array__', '__array_priority__', '__array_ufunc__', '__bool__', '__class__', '__contains__', '__copy__', '__deepcopy__', '__delattr__', '__delitem__', '__dict__', '__dir__', '__divmod__', '__doc__', '__eq__', '__finalize__', '__float__', '__floordiv__', '__format__', '__ge__', '__getattr__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__iand__', '__ifloordiv__', '__imod__', '__imul__', '__init__', '__init_subclass__', '__int__', '__invert__', '__ior__', '__ipow__', '__isub__', '__iter__', '__itruediv__', '__ixor__', '__le__', '__len__', '__lt__', '__matmul__', '__mod__', '__module__', '__mul__', '__ne__', '__neg__', '__new__', '__nonzero__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rmatmul__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__setitem__', '__setstate__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__weakref__', '__xor__', '_accessors', '_accum_func', '_add_numeric_operations', '_agg_examples_doc', '_agg_see_also_doc', '_align_frame', '_align_series', '_append', '_arith_method', '_as_manager', '_attrs', '_binop', '_can_hold_na', '_check_inplace_and_allows_duplicate_labels', '_check_inplace_setting', '_check_is_chained_assignment_possible', '_check_label_or_level_ambiguity', '_check_setitem_copy', '_clear_item_cache', '_clip_with_one_bound', '_clip_with_scalar', '_cmp_method', '_consolidate', '_consolidate_inplace', '_construct_axes_dict', '_construct_result', '_constructor', '_constructor_expanddim', '_convert_dtypes', '_data', '_dir_additions', '_dir_deletions', '_drop_axis', '_drop_labels_or_levels', '_duplicated', '_find_valid_index', '_flags', '_get_axis', '_get_axis_name', '_get_axis_number', '_get_axis_resolvers', '_get_block_manager_axis', '_get_bool_data', '_get_cacher', '_get_cleaned_column_resolvers', '_get_index_resolvers', '_get_label_or_level_values', '_get_numeric_data', '_get_value', '_get_values', '_get_values_tuple', '_get_with', '_gotitem', '_hidden_attrs', '_indexed_same', '_info_axis', '_info_axis_name', '_info_axis_number', '_init_dict', '_init_mgr', '_inplace_method', '_internal_names', '_internal_names_set', '_is_cached', '_is_copy', '_is_label_or_level_reference', '_is_label_reference', '_is_level_reference', '_is_mixed_type', '_is_view', '_item_cache', '_ixs', '_logical_func', '_logical_method', '_map_values', '_maybe_update_cacher', '_memory_usage', '_metadata', '_mgr', '_min_count_stat_function', '_name', '_needs_reindex_multi', '_protect_consolidate', '_reduce', '_references', '_reindex_axes', '_reindex_indexer', '_reindex_multi', '_reindex_with_indexers', '_rename', '_replace_single', '_repr_data_resource_', '_repr_latex_', '_reset_cache', '_reset_cacher', '_set_as_cached', '_set_axis', '_set_axis_name', '_set_axis_nocheck', '_set_is_copy', '_set_labels', '_set_name', '_set_value', '_set_values', '_set_with', '_set_with_engine', '_slice', '_stat_axis', '_stat_axis_name', '_stat_axis_number', '_stat_function', '_stat_function_ddof', '_take', '_take_with_is_copy', '_to_latex_via_styler', '_typ', '_update_inplace', '_validate_dtype', '_values', '_where', 'abs', 'add', 'add_prefix', 'add_suffix', 'agg', 'aggregate', 'align', 'all', 'any', 'apply', 'argmax', 'argmin', 'argsort', 'array', 'asfreq', 'asof', 'astype', 'at', 'at_time', 'attrs', 'autocorr', 'axes', 'backfill', 'between', 'between_time', 'bfill', 'bool', 'clip', 'combine', 'combine_first', 'compare', 'convert_dtypes', 'copy', 'corr', 'count', 'cov', 'cummax', 'cummin', 'cumprod', 'cumsum', 'describe', 'diff', 'div', 'divide', 'divmod', 'dot', 'drop', 'drop_duplicates', 'droplevel', 'dropna', 'dtype', 'dtypes', 'duplicated', 'empty', 'eq', 'equals', 'ewm', 'expanding', 'explode', 'factorize', 'ffill', 'fillna', 'filter', 'first', 'first_valid_index', 'flags', 'floordiv', 'ge', 'get', 'groupby', 'gt', 'hasnans', 'head', 'hist', 'iat', 'idxmax', 'idxmin', 'iloc', 'index', 'infer_objects', 'info', 'interpolate', 'is_monotonic_decreasing', 'is_monotonic_increasing', 'is_unique', 'isin', 'isna', 'isnull', 'item', 'items', 'keys', 'kurt', 'kurtosis', 'last', 'last_valid_index', 'le', 'loc', 'lt', 'map', 'mask', 'max', 'mean', 'median', 'memory_usage', 'min', 'mod', 'mode', 'mul', 'multiply', 'name', 'nbytes', 'ndim', 'ne', 'nlargest', 'notna', 'notnull', 'nsmallest', 'nunique', 'pad', 'pct_change', 'pipe', 'plot', 'pop', 'pow', 'prod', 'product', 'quantile', 'radd', 'rank', 'ravel', 'rdiv', 'rdivmod', 'reindex', 'reindex_like', 'rename', 'rename_axis', 'reorder_levels', 'repeat', 'replace', 'resample', 'reset_index', 'rfloordiv', 'rmod', 'rmul', 'rolling', 'round', 'rpow', 'rsub', 'rtruediv', 'sample', 'searchsorted', 'sem', 'set_axis', 'set_flags', 'shape', 'shift', 'size', 'skew', 'sort_index', 'sort_values', 'squeeze', 'std', 'str', 'sub', 'subtract', 'sum', 'swapaxes', 'swaplevel', 'tail', 'take', 'to_clipboard', 'to_csv', 'to_dict', 'to_excel', 'to_frame', 'to_hdf', 'to_json', 'to_latex', 'to_list', 'to_markdown', 'to_numpy', 'to_period', 'to_pickle', 'to_sql', 'to_string', 'to_timestamp', 'to_xarray', 'transform', 'transpose', 'truediv', 'truncate', 'tz_convert', 'tz_localize', 'unique', 'unstack', 'update', 'value_counts', 'values', 'var', 'view', 'where', 'xs']

In [37]:
help(serie2.str)

Help on StringMethods in module pandas.core.strings.accessor object:

class StringMethods(pandas.core.base.NoNewAttributesMixin)
 |  StringMethods(data) -> 'None'
 |
 |  Vectorized string functions for Series and Index.
 |
 |  NAs stay NA unless handled otherwise by a particular method.
 |  Patterned after Python's string methods, with some inspiration from
 |  R's stringr package.
 |
 |  Examples
 |  --------
 |  >>> s = pd.Series(["A_Str_Series"])
 |  >>> s
 |  0    A_Str_Series
 |  dtype: object
 |
 |  >>> s.str.split("_")
 |  0    [A, Str, Series]
 |  dtype: object
 |
 |  >>> s.str.replace("_", "")
 |  0    AStrSeries
 |  dtype: object
 |
 |  Method resolution order:
 |      StringMethods
 |      pandas.core.base.NoNewAttributesMixin
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __getitem__(self, key)
 |
 |  __init__(self, data) -> 'None'
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  capitalize(self)
 |      Convert strings in the Series/Index to be capitalized.
 |
 |      Equivalent to :meth:`str.capitalize`.
 |
 |      Returns
 |      -------
 |      Series or Index of object
 |
 |      See Also
 |      --------
 |      Series.str.lower : Converts all characters to lowercase.
 |      Series.str.upper : Converts all characters to uppercase.
 |      Series.str.title : Converts first character of each word to uppercase and
 |          remaining to lowercase.
 |      Series.str.capitalize : Converts first character to uppercase and
 |          remaining to lowercase.
 |      Series.str.swapcase : Converts uppercase to lowercase and lowercase to
 |          uppercase.
 |      Series.str.casefold: Removes all case distinctions in the string.
 |
 |      Examples
 |      --------
 |      >>> s = pd.Series(['lower', 'CAPITALS', 'this is a sentence', 'SwApCaSe'])
 |      >>> s
 |      0                 lower
 |      1              CAPITALS
 |      2    this is a sentence
 |      3              SwApCaSe
 |      dtype: object
 |
 |      >>> s.str.lower()
 |      0                 lower
 |      1              capitals
 |      2    this is a sentence
 |      3              swapcase
 |      dtype: object
 |
 |      >>> s.str.upper()
 |      0                 LOWER
 |      1              CAPITALS
 |      2    THIS IS A SENTENCE
 |      3              SWAPCASE
 |      dtype: object
 |
 |      >>> s.str.title()
 |      0                 Lower
 |      1              Capitals
 |      2    This Is A Sentence
 |      3              Swapcase
 |      dtype: object
 |
 |      >>> s.str.capitalize()
 |      0                 Lower
 |      1              Capitals
 |      2    This is a sentence
 |      3              Swapcase
 |      dtype: object
 |
 |      >>> s.str.swapcase()
 |      0                 LOWER
 |      1              capitals
 |      2    THIS IS A SENTENCE
 |      3              sWaPcAsE
 |      dtype: object
 |
 |  casefold(self)
 |      Convert strings in the Series/Index to be casefolded.
 |
 |      Equivalent to :meth:`str.casefold`.
 |
 |      Returns
 |      -------
 |      Series or Index of object
 |
 |      See Also
 |      --------
 |      Series.str.lower : Converts all characters to lowercase.
 |      Series.str.upper : Converts all characters to uppercase.
 |      Series.str.title : Converts first character of each word to uppercase and
 |          remaining to lowercase.
 |      Series.str.capitalize : Converts first character to uppercase and
 |          remaining to lowercase.
 |      Series.str.swapcase : Converts uppercase to lowercase and lowercase to
 |          uppercase.
 |      Series.str.casefold: Removes all case distinctions in the string.
 |
 |      Examples
 |      --------
 |      >>> s = pd.Series(['lower', 'CAPITALS', 'this is a sentence', 'SwApCaSe'])
 |      >>> s
 |      0                 lower
 |      1              CAPITALS
 |      2    this is a sentence
 |      3              SwApCaSe
 |      dtype: object
 |
 |      >>> s.str.lower()
 |      0                 lower
 |      1              capitals
 |      2    this is a sentence
 |      3              swapcase
 |      dtype: object
 |
 |      >>> s.str.upper()
 |      0                 LOWER
 |      1              CAPITALS
 |      2    THIS IS A SENTENCE
 |      3              SWAPCASE
 |      dtype: object
 |
 |      >>> s.str.title()
 |      0                 Lower
 |      1              Capitals
 |      2    This Is A Sentence
 |      3              Swapcase
 |      dtype: object
 |
 |      >>> s.str.capitalize()
 |      0                 Lower
 |      1              Capitals
 |      2    This is a sentence
 |      3              Swapcase
 |      dtype: object
 |
 |      >>> s.str.swapcase()
 |      0                 LOWER
 |      1              capitals
 |      2    THIS IS A SENTENCE
 |      3              sWaPcAsE
 |      dtype: object
 |
 |  cat(self, others=None, sep=None, na_rep=None, join: 'AlignJoin' = 'left') -> 'str | Series | Index'
 |      Concatenate strings in the Series/Index with given separator.
 |
 |      If `others` is specified, this function concatenates the Series/Index
 |      and elements of `others` element-wise.
 |      If `others` is not passed, then all values in the Series/Index are
 |      concatenated into a single string with a given `sep`.
 |
 |      Parameters
 |      ----------
 |      others : Series, Index, DataFrame, np.ndarray or list-like
 |          Series, Index, DataFrame, np.ndarray (one- or two-dimensional) and
 |          other list-likes of strings must have the same length as the
 |          calling Series/Index, with the exception of indexed objects (i.e.
 |          Series/Index/DataFrame) if `join` is not None.
 |
 |          If others is a list-like that contains a combination of Series,
 |          Index or np.ndarray (1-dim), then all elements will be unpacked and
 |          must satisfy the above criteria individually.
 |
 |          If others is None, the method returns the concatenation of all
 |          strings in the calling Series/Index.
 |      sep : str, default ''
 |          The separator between the different elements/columns. By default
 |          the empty string `''` is used.
 |      na_rep : str or None, default None
 |          Representation that is inserted for all missing values:
 |
 |          - If `na_rep` is None, and `others` is None, missing values in the
 |            Series/Index are omitted from the result.
 |          - If `na_rep` is None, and `others` is not None, a row containing a
 |            missing value in any of the columns (before concatenation) will
 |            have a missing value in the result.
 |      join : {'left', 'right', 'outer', 'inner'}, default 'left'
 |          Determines the join-style between the calling Series/Index and any
 |          Series/Index/DataFrame in `others` (objects without an index need
 |          to match the length of the calling Series/Index). To disable
 |          alignment, use `.values` on any Series/Index/DataFrame in `others`.
 |
 |      Returns
 |      -------
 |      str, Series or Index
 |          If `others` is None, `str` is returned, otherwise a `Series/Index`
 |          (same type as caller) of objects is returned.
 |
 |      See Also
 |      --------
 |      split : Split each string in the Series/Index.
 |      join : Join lists contained as elements in the Series/Index.
 |
 |      Examples
 |      --------
 |      When not passing `others`, all values are concatenated into a single
 |      string:
 |
 |      >>> s = pd.Series(['a', 'b', np.nan, 'd'])
 |      >>> s.str.cat(sep=' ')
 |      'a b d'
 |
 |      By default, NA values in the Series are ignored. Using `na_rep`, they
 |      can be given a representation:
 |
 |      >>> s.str.cat(sep=' ', na_rep='?')
 |      'a b ? d'
 |
 |      If `others` is specified, corresponding values are concatenated with
 |      the separator. Result will be a Series of strings.
 |
 |      >>> s.str.cat(['A', 'B', 'C', 'D'], sep=',')
 |      0    a,A
 |      1    b,B
 |      2    NaN
 |      3    d,D
 |      dtype: object
 |
 |      Missing values will remain missing in the result, but can again be
 |      represented using `na_rep`
 |
 |      >>> s.str.cat(['A', 'B', 'C', 'D'], sep=',', na_rep='-')
 |      0    a,A
 |      1    b,B
 |      2    -,C
 |      3    d,D
 |      dtype: object
 |
 |      If `sep` is not specified, the values are concatenated without
 |      separation.
 |
 |      >>> s.str.cat(['A', 'B', 'C', 'D'], na_rep='-')
 |      0    aA
 |      1    bB
 |      2    -C
 |      3    dD
 |      dtype: object
 |
 |      Series with different indexes can be aligned before concatenation. The
 |      `join`-keyword works as in other methods.
 |
 |      >>> t = pd.Series(['d', 'a', 'e', 'c'], index=[3, 0, 4, 2])
 |      >>> s.str.cat(t, join='left', na_rep='-')
 |      0    aa
 |      1    b-
 |      2    -c
 |      3    dd
 |      dtype: object
 |      >>>
 |      >>> s.str.cat(t, join='outer', na_rep='-')
 |      0    aa
 |      1    b-
 |      2    -c
 |      3    dd
 |      4    -e
 |      dtype: object
 |      >>>
 |      >>> s.str.cat(t, join='inner', na_rep='-')
 |      0    aa
 |      2    -c
 |      3    dd
 |      dtype: object
 |      >>>
 |      >>> s.str.cat(t, join='right', na_rep='-')
 |      3    dd
 |      0    aa
 |      4    -e
 |      2    -c
 |      dtype: object
 |
 |      For more examples, see :ref:`here <text.concatenate>`.
 |
 |  center(self, width, fillchar: 'str' = ' ')
 |      Pad left and right side of strings in the Series/Index.
 |
 |      Equivalent to :meth:`str.center`.
 |
 |      Parameters
 |      ----------
 |      width : int
 |          Minimum width of resulting string; additional characters will be filled
 |          with ``fillchar``.
 |      fillchar : str
 |          Additional character for filling, default is whitespace.
 |
 |      Returns
 |      -------
 |      Series/Index of objects.
 |
 |  contains(self, pat, case: 'bool' = True, flags: 'int' = 0, na=None, regex: 'bool' = True)
 |      Test if pattern or regex is contained within a string of a Series or Index.
 |
 |      Return boolean Series or Index based on whether a given pattern or regex is
 |      contained within a string of a Series or Index.
 |
 |      Parameters
 |      ----------
 |      pat : str
 |          Character sequence or regular expression.
 |      case : bool, default True
 |          If True, case sensitive.
 |      flags : int, default 0 (no flags)
 |          Flags to pass through to the re module, e.g. re.IGNORECASE.
 |      na : scalar, optional
 |          Fill value for missing values. The default depends on dtype of the
 |          array. For object-dtype, ``numpy.nan`` is used. For ``StringDtype``,
 |          ``pandas.NA`` is used.
 |      regex : bool, default True
 |          If True, assumes the pat is a regular expression.
 |
 |          If False, treats the pat as a literal string.
 |
 |      Returns
 |      -------
 |      Series or Index of boolean values
 |          A Series or Index of boolean values indicating whether the
 |          given pattern is contained within the string of each element
 |          of the Series or Index.
 |
 |      See Also
 |      --------
 |      match : Analogous, but stricter, relying on re.match instead of re.search.
 |      Series.str.startswith : Test if the start of each string element matches a
 |          pattern.
 |      Series.str.endswith : Same as startswith, but tests the end of string.
 |
 |      Examples
 |      --------
 |      Returning a Series of booleans using only a literal pattern.
 |
 |      >>> s1 = pd.Series(['Mouse', 'dog', 'house and parrot', '23', np.NaN])
 |      >>> s1.str.contains('og', regex=False)
 |      0    False
 |      1     True
 |      2    False
 |      3    False
 |      4      NaN
 |      dtype: object
 |
 |      Returning an Index of booleans using only a literal pattern.
 |
 |      >>> ind = pd.Index(['Mouse', 'dog', 'house and parrot', '23.0', np.NaN])
 |      >>> ind.str.contains('23', regex=False)
 |      Index([False, False, False, True, nan], dtype='object')
 |
 |      Specifying case sensitivity using `case`.
 |
 |      >>> s1.str.contains('oG', case=True, regex=True)
 |      0    False
 |      1    False
 |      2    False
 |      3    False
 |      4      NaN
 |      dtype: object
 |
 |      Specifying `na` to be `False` instead of `NaN` replaces NaN values
 |      with `False`. If Series or Index does not contain NaN values
 |      the resultant dtype will be `bool`, otherwise, an `object` dtype.
 |
 |      >>> s1.str.contains('og', na=False, regex=True)
 |      0    False
 |      1     True
 |      2    False
 |      3    False
 |      4    False
 |      dtype: bool
 |
 |      Returning 'house' or 'dog' when either expression occurs in a string.
 |
 |      >>> s1.str.contains('house|dog', regex=True)
 |      0    False
 |      1     True
 |      2     True
 |      3    False
 |      4      NaN
 |      dtype: object
 |
 |      Ignoring case sensitivity using `flags` with regex.
 |
 |      >>> import re
 |      >>> s1.str.contains('PARROT', flags=re.IGNORECASE, regex=True)
 |      0    False
 |      1    False
 |      2     True
 |      3    False
 |      4      NaN
 |      dtype: object
 |
 |      Returning any digit using regular expression.
 |
 |      >>> s1.str.contains('\\d', regex=True)
 |      0    False
 |      1    False
 |      2    False
 |      3     True
 |      4      NaN
 |      dtype: object
 |
 |      Ensure `pat` is a not a literal pattern when `regex` is set to True.
 |      Note in the following example one might expect only `s2[1]` and `s2[3]` to
 |      return `True`. However, '.0' as a regex matches any character
 |      followed by a 0.
 |
 |      >>> s2 = pd.Series(['40', '40.0', '41', '41.0', '35'])
 |      >>> s2.str.contains('.0', regex=True)
 |      0     True
 |      1     True
 |      2    False
 |      3     True
 |      4    False
 |      dtype: bool
 |
 |  count(self, pat, flags: 'int' = 0)
 |      Count occurrences of pattern in each string of the Series/Index.
 |
 |      This function is used to count the number of times a particular regex
 |      pattern is repeated in each of the string elements of the
 |      :class:`~pandas.Series`.
 |
 |      Parameters
 |      ----------
 |      pat : str
 |          Valid regular expression.
 |      flags : int, default 0, meaning no flags
 |          Flags for the `re` module. For a complete list, `see here
 |          <https://docs.python.org/3/howto/regex.html#compilation-flags>`_.
 |      **kwargs
 |          For compatibility with other string methods. Not used.
 |
 |      Returns
 |      -------
 |      Series or Index
 |          Same type as the calling object containing the integer counts.
 |
 |      See Also
 |      --------
 |      re : Standard library module for regular expressions.
 |      str.count : Standard library version, without regular expression support.
 |
 |      Notes
 |      -----
 |      Some characters need to be escaped when passing in `pat`.
 |      eg. ``'$'`` has a special meaning in regex and must be escaped when
 |      finding this literal character.
 |
 |      Examples
 |      --------
 |      >>> s = pd.Series(['A', 'B', 'Aaba', 'Baca', np.nan, 'CABA', 'cat'])
 |      >>> s.str.count('a')
 |      0    0.0
 |      1    0.0
 |      2    2.0
 |      3    2.0
 |      4    NaN
 |      5    0.0
 |      6    1.0
 |      dtype: float64
 |
 |      Escape ``'$'`` to find the literal dollar sign.
 |
 |      >>> s = pd.Series(['$', 'B', 'Aab$', '$$ca', 'C$B$', 'cat'])
 |      >>> s.str.count('\\$')
 |      0    1
 |      1    0
 |      2    1
 |      3    2
 |      4    2
 |      5    0
 |      dtype: int64
 |
 |      This is also available on Index
 |
 |      >>> pd.Index(['A', 'A', 'Aaba', 'cat']).str.count('a')
 |      Index([0, 0, 2, 1], dtype='int64')
 |
 |  decode(self, encoding, errors: 'str' = 'strict')
 |      Decode character string in the Series/Index using indicated encoding.
 |
 |      Equivalent to :meth:`str.decode` in python2 and :meth:`bytes.decode` in
 |      python3.
 |
 |      Parameters
 |      ----------
 |      encoding : str
 |      errors : str, optional
 |
 |      Returns
 |      -------
 |      Series or Index
 |
 |  encode(self, encoding, errors: 'str' = 'strict')
 |      Encode character string in the Series/Index using indicated encoding.
 |
 |      Equivalent to :meth:`str.encode`.
 |
 |      Parameters
 |      ----------
 |      encoding : str
 |      errors : str, optional
 |
 |      Returns
 |      -------
 |      Series/Index of objects
 |
 |  endswith(self, pat: 'str | tuple[str, ...]', na: 'Scalar | None' = None) -> 'Series | Index'
 |      Test if the end of each string element matches a pattern.
 |
 |      Equivalent to :meth:`str.endswith`.
 |
 |      Parameters
 |      ----------
 |      pat : str or tuple[str, ...]
 |          Character sequence or tuple of strings. Regular expressions are not
 |          accepted.
 |      na : object, default NaN
 |          Object shown if element tested is not a string. The default depends
 |          on dtype of the array. For object-dtype, ``numpy.nan`` is used.
 |          For ``StringDtype``, ``pandas.NA`` is used.
 |
 |      Returns
 |      -------
 |      Series or Index of bool
 |          A Series of booleans indicating whether the given pattern matches
 |          the end of each string element.
 |
 |      See Also
 |      --------
 |      str.endswith : Python standard library string method.
 |      Series.str.startswith : Same as endswith, but tests the start of string.
 |      Series.str.contains : Tests if string element contains a pattern.
 |
 |      Examples
 |      --------
 |      >>> s = pd.Series(['bat', 'bear', 'caT', np.nan])
 |      >>> s
 |      0     bat
 |      1    bear
 |      2     caT
 |      3     NaN
 |      dtype: object
 |
 |      >>> s.str.endswith('t')
 |      0     True
 |      1    False
 |      2    False
 |      3      NaN
 |      dtype: object
 |
 |      >>> s.str.endswith(('t', 'T'))
 |      0     True
 |      1    False
 |      2     True
 |      3      NaN
 |      dtype: object
 |
 |      Specifying `na` to be `False` instead of `NaN`.
 |
 |      >>> s.str.endswith('t', na=False)
 |      0     True
 |      1    False
 |      2    False
 |      3    False
 |      dtype: bool
 |
 |  extract(self, pat: 'str', flags: 'int' = 0, expand: 'bool' = True) -> 'DataFrame | Series | Index'
 |      Extract capture groups in the regex `pat` as columns in a DataFrame.
 |
 |      For each subject string in the Series, extract groups from the
 |      first match of regular expression `pat`.
 |
 |      Parameters
 |      ----------
 |      pat : str
 |          Regular expression pattern with capturing groups.
 |      flags : int, default 0 (no flags)
 |          Flags from the ``re`` module, e.g. ``re.IGNORECASE``, that
 |          modify regular expression matching for things like case,
 |          spaces, etc. For more details, see :mod:`re`.
 |      expand : bool, default True
 |          If True, return DataFrame with one column per capture group.
 |          If False, return a Series/Index if there is one capture group
 |          or DataFrame if there are multiple capture groups.
 |
 |      Returns
 |      -------
 |      DataFrame or Series or Index
 |          A DataFrame with one row for each subject string, and one
 |          column for each group. Any capture group names in regular
 |          expression pat will be used for column names; otherwise
 |          capture group numbers will be used. The dtype of each result
 |          column is always object, even when no match is found. If
 |          ``expand=False`` and pat has only one capture group, then
 |          return a Series (if subject is a Series) or Index (if subject
 |          is an Index).
 |
 |      See Also
 |      --------

In [38]:
filtro2 = serie2.str.contains("m")
filtro2

0    False
1    False
2     True
3     True
dtype: bool

In [39]:
serie2[filtro2]

2      melon
3    manzana
dtype: object

In [41]:
valores = pd.Series([18, 22, 7, 9, 15, 8])

filtro  = valores % 2 == 0

valores_pares = valores[filtro]
valores_pares

0    18
1    22
5     8
dtype: int64

In [42]:
frutas = pd.Series(["manzana", "banana", "cereza", "durazno", "frambuesa"])

frutas_con_e= frutas.str.contains("e")
frutas_con_e = frutas[frutas_con_e]
frutas_con_e

0    False
1    False
2     True
3    False
4     True
dtype: bool

Agregaciones

In [43]:
numeros = pd.Series([10,20,30,40,50])
numeros

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [45]:
promedio = numeros.mean()
promedio

30.0

In [46]:
total = numeros.sum()
total

150

In [47]:
maximo = numeros.max()
maximo

50

In [48]:
minimo = m.min()
minimo

NameError: name 'minimo' is not defined